<!-- Sidebar -->
<!-- Sidebar -->
<div id="sidebar-wrapper">
  <div class="list-group">
    <a class="list-group-item">
      First item <span id="menu-toggle" class="glyphicon glyphicon-align-justify"></span>
    </a>
    <a href="/admin/courses" class="list-group-item">Course</a>
    <a href="/admin/lessons" class="list-group-item">Lessons</a>
  </div>
</div>