<div class="col-sm-4" id="course-item-<%= course.id %>">
  <div class="course-item">
    <div class="card weater">
      <div class="city-selected">
        <div class="overlay"></div>
        <article>

          <div class="info">
            <div class="city"><%= course.name %></div>

            <div class="wind">
                <span>12 buổi</span>
            </div>
          </div>
        </article>

        <div class="btn btn-enrollment btn-success" data-id="<%= course.id %>">Enroll</div>

      </div>

      <div class="days">
        <div class="row row-no-gutter">
          <div class="col-md-4">
            <div class="day">
              <h4><strong>50</strong></h4>
              <h1>Students</h1>
            </div>
          </div>

          <div class="col-md-4">
            <div class="day">
              <h4><strong>50</strong></h4>
              <h1>Reviews</h1>
            </div>
          </div>

          <div class="col-md-4">
            <div class="day">
              <h4><strong>50</strong></h4>
              <h1>Likes</h1>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
